/* CSS FOR SMALL SCREEN */
@media only screen and (max-width: 500px) {
    #mobile i {
        color: red;
        font-size: 28px;
    }

    h4 {
        color: white;
        font-size: 10px;
    }

    .navbar {
        padding: 2px;
        width: 100%;
    }

    .navbar .fas {
        display: block;
        font-size: 28px;
        color: red;
    }

    .navbar ul {
        background: #262626;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 60px;
        z-index: 2;
        transition: right 0.5s;

    }

    .navbar ul li {
        display: block;
        margin: 55px;
    }

    .navbar ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    /* END NAV */



    /* body */

    /* PRODUCTS */

    .logo {
        width: 60px;
        cursor: pointer;
    }

    .banner {
        display: none;

    }

    .content {
        display: none;

    }

    .content2 {
        display: block;
        text-align: center;
        /* margin-top: 10%; */
        background: #262626;
        padding: 15px 30px;
    }

    .content2 h1 {
        font-size: 30px;
        color: white;
        padding-top: 5%;

    }

    .button {
        display: inline-block;
        color: white;
        border: 1px solid #e8c15f;
        padding: 12px 34px;
        font-size: 13px;
        background: transparent;
        position: relative;
        cursor: pointer;
        border-radius: 5%;

    }

    .button a {
        text-decoration: none;
    }

    .button:hover {
        border: 1px solid #daa520;
        background: #fdf171;
        transition: 1s;
    }

    .products {
        width: 100%;
        margin-top: -65px;
        text-align: center;
        padding-top: 100px;
        justify-content: center;
    }

    h1 {
        font-size: 36px;
        font-weight: 600;
    }

    p {
        color: #777777;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        padding: 10px;
    }

     /*-------SLIDER--------  */
     /* SLIDER */
.slider{
	position: relative;
	width: 100%;
	background: #2c3e50; /* darckblue */
}
.myslide{
	height: 250px;
	display: none;
	overflow: hidden;
}

.myslide img{
    width: 100%;
    /* height: 40vh; */
    
}
.prev, .next{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 30px;
	padding: 15px;
	cursor: pointer;
	color: #fff;
	transition: 0.1s;
	user-select: none;
}
.prev:hover, .next:hover{
	color: red; 
}
.next{
	right: 0;
}
.dotsbox{
	position: absolute;
	left: 45%;
	transform: translate(-50%);
	bottom: 20px;
	cursor: pointer;
}
.dot{
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	border-radius: 50%;
	margin: 0 10px;
	cursor: pointer;
}
/* /2 */

/* javascript */
.active, .dot:hover{
	border-color: red; 
}
/* /javascript */

/* muslide add fade */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}
/* /muslide add fade */

/* 3 */
.txt{
	position: absolute;
	color: #fff;
	letter-spacing: 2px;
	line-height: 35px;
	top: 45%;
	left: 40%;
	-webkit-animation-name: posi;
  	-webkit-animation-duration: 2s;
  	animation-name: posi;
  	animation-duration: 2s;
	z-index: 1;
}
.txt i{
    font-size: 20px;
}


@-webkit-keyframes posi {
  from {left: 65%;}
  to {left: 45%;}
}


@keyframes posi {
  from {left: 65%;}
  to {left: 45%;}
}

.txt h1{
	color: white; 
	font-size: 40px;
	margin-bottom: 10px;
}
.txt p{
	font-weight: bold;
	font-size: 15px;
    color: red;
    margin-top: -25px;
}
/* /3 */

/* 4 */
.myslide img{
	transform: scale(1.5, 1.5);
	-webkit-animation-name: zoomin;
  	-webkit-animation-duration: 40s;
  	animation-name: zoomin;
  	animation-duration: 40s;
}
@-webkit-keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}


@keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}
/* /4 */

     
	.txt h1{
		font-size: 30px;
		margin-bottom: 20px;
	}
	.sign{
		margin-right: 20px;
	}
	.sign a{
		font-size: 12px;
	}
/* -----------------END SLIDER---------------- */
    .container {
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: none;
        overflow: hidden;
        /* max-width: 1200px; */
        /* margin: auto; */
        /* justify-content: center; */
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 2px;
    }

    .gallery img {
        width: 100%;
    }

    /* END PRODUCTS--- */

/* NEWS HOME PAGE------------- */

    .news {
        width: 100%;
        margin: auto;
        padding-top: 70px;
        text-align: center;
        margin-top: -40px;
    }

    #row {
        flex-direction: column;
    }

    .news-col1,
    .news-col2 {
        width: 80%;
        border-radius: 10px;
        margin-bottom: 5%;
        text-align: center;
        background: #f2dadf;
        padding: 10px;
        cursor: pointer;
        margin-left: 10%;

    }

    .news-col img {
        height: 40px;
        margin-left: 100px;
        margin-right: 30px;
        border-radius: 70%;
    }

    .news-col p {
        margin: 0;
        padding: 0;
        font-size: 5px;
    }

   

    .news-col2 h3 {
        margin-top: 10px;
        text-align:center;
        font-size: 15px;
    }
    .news-col1,
    .news-col2 i {
        color: #daa520;
    }

    /* END---- */
    /*----HOME CONTACT-------*/

    .contact {
        margin: 70px auto;
        width: 80%;
        background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/customer2.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10px;
        text-align: center;
        padding: 60px 0;
        margin-top: -5px;

    }

    .contact h1 {
        color: #ffffff;
        margin-bottom: 10px;
        padding: 0;
        text-align: center;
        font-size: 20px;
    }

     .footer{
        display: none;
     }
    .footer2 {
        display: block;
        width: 100%;
        text-align: center;
        /* padding: 30px 0; */
    }

    .footer2 p {
        margin-top: -50px;
        text-align:center;
    }

    .footer2 h4 {
        /* margin-bottom: 25px; */
        /* margin-top: 120px; */
        font-weight: 600;
        font-size: 150%;
    }

    .soc-med {
        margin-top: 10px;
    }

    .soc-med a {
        text-decoration: none;
        margin-right: 15px;
        font-size: 30px;
        color: red;
        display: inline-block;
        transition: transform 1s;
    }

    .soc-med a:hover {
        color: black;
        transform: translateY(-5px);
    }

 .copyright {
        width: 100%;
        margin-top: 2%;
        text-align: center;
        color: white;
        padding: 10px 0;
        background: #262626;
        font-weight: 600;
        font-size: 12px;
    }

    .copyright p {
        font-size: 100%;
    }

    .copyright i {
        color: red;
    }

    /* ------------END COPYRIGHT------------------*/

    /* ABOUT US PAGE */
    .sub {
        height: 10vh;
        width: 100%;
        background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/car11.jpg);
        background-position: center;
        background-size: cover;
        text-align: center;
        color: #ffffff;
    }

    #mobile h4 {
        display: none;
    }

    .sub h1 {
        padding-top: 8%;
        font-size: 15px;
        text-align: center;
        /* color: #262626; */
        /* font-size: 50px; */
    }

    .row {
        flex-direction: column;
    }


    .about-us {

        display: none;
    }

    .about-us2 {
        display: block;
        width: 100%;
        padding-top: 10px;
    }

    .about-col3 img {
        width: 80%;
        margin-left: 10%;
        margin-top: 5%;
        /* /* height: 100%; */

    }

    .about-col3 {
        padding: 15px 0 25px;
        /* padding-left: 10%; */
        margin-top: 5%;
    }

    .about-col3 h3 {
        text-align: center;
        margin-bottom: -10%;
        /* margin-top: 10%; */
    }

    .about-col3 p {
        padding: 15px;
        text-align: center;
        justify-content: center;
        /* padding-top: 5%; */
        /* padding-left: 5%; */
        font-size: 13px;
        margin-top: 10%;
    }

    .about-us a {
        color: #000000;
    }

    .btn1 {
        display: flex;
        color: black;
        border: 1px solid #e8c15f;
        padding: 15px;
        font-size: 13px;
        background: transparent;
        position: relative;
        cursor: pointer;
        border-radius: 5%;
        width: 50%;
        margin-left: 25%;
        justify-content: center;

    }

    .btn1 a {
        text-decoration: none;
        color: #000000;
    }

    .btn1:hover {
        border: 1px solid #daa520;
        background: #fdf171;
        transition: 1s;
    }



    /* -------SECOND COLUMN----------- */

    .about-col2 img {
        width: 80%;
        margin-left: 10%;
        margin-top: -18%;
        /* height: 100%; */

    }

    .about-col2 {
        padding: 15px 0 25px;
        /* padding-left: 10%; */
        margin-top: 5%;
    }

    .about-col2 p {

        padding: 15px;
        text-align: center;
        /* padding-top: 5%; */
        padding-left: 5%;
        font-size: 13px;
        /* margin-top: -22px; */
    }

    .about-col2 h3 {
        text-align: center;
        margin-top: 5%;
    }


    .btn {
        display: inline-block;
        color: white;
        border: 1px solid #e8c15f;
        padding: 12px 34px;
        font-size: 13px;
        background: transparent;
        position: relative;
        cursor: pointer;
        border-radius: 5%;
        margin-left: 2%;

    }

    .btn a {
        text-decoration: none;
    }

    .btn:hover {
        border: 1px solid #daa520;
        background: #fdf171;
        transition: 1s;
    }



    /*----------------END ABOUT US PAGE---------------------*/

    /* -----------------------CONTACT PAGE---------------- */

    .contact-banner {
        height: 10vh;
        width: 100%;
        background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/car8.jpeg);
        background-position: center;
        background-size: cover;
        text-align: center;
        color: #ffffff;
    }

    .contact-banner h1 {
        padding-top: 8%;
        font-size: 15px;
        text-align: center;

    }

    h3{
        color: #777777;
        font-size: 150%;
        text-align: center;
        margin-bottom: -5%;
    } 
    
    .con-left{
        padding-top: 5%;

    }

    .contact-right {
        margin-top: -2%;
    flex-direction: column;
    }

    .contact-right p {
        margin-top: 10%;
        font-size: 112%;
    }

    .contact-right p i {
        color: red;
        /* margin-right: 15px; */
        font-size: 135%;
    }

    .content1 {
        color: #777777;
        font-weight: 600;
        margin-bottom: 10px;
        padding-left: 3%;
    }



    h3 {
        color: #777777;
        font-size: 160%;
        justify-content: center;
        text-align: center;
        margin-top: 5%;
    }

    .con-left {
        /* margin-bottom: 15%; */
        margin-top: -25%;
    }

    form {
        width: 100%;
        margin-left: -5%;
    }

    form input,
    form textarea {
        width: 100%;
        border: 0;
        outline: none;
        background: #262626;
        padding: 15px;
        margin: 15px;
        color: #fff;
        font-size: 12px;
        justify-content: center;
        /* border-radius: 6px; */
    }

    .btn-btn3 {
        /* display: inline-block; */
        text-decoration: none;
        color: white;
        border: 1px solid red;
        padding: 12px 34px;
        margin-left: 5%;
        justify-content: center;
        font-size: 18px;
        background: red;
        /* position: relative; */
        cursor: pointer;
        margin-bottom: -18%;
        margin: auto;
       text-align: center;
        display: flex;
    }

    .btn-btn3:hover {
        border: 1px solid orangered;
        background: orange;
        transition: 1s;
    }

    .contact-right ul li:nth-child(1){
        padding-left: -25%;
        text-align: center;
        /* margin-bottom: 10px; */
        padding-top: 5%;
        margin-left: 5%;
    }
    
    .contact-right ul li:nth-child(2){
        padding-left: 20%;
        text-align: center;
        /* margin-bottom: 10px; */
    }
    .contact-right ul li:nth-child(3){
        padding-right: 15%;
        text-align: center;
    }

    
    .soc-med1 {
        margin-top: 20px;
        align-items: center;
        text-align: center;
        justify-content: center;
    }


    .soc-med1 a {
        text-decoration: none;
        padding-right: -5px;
        font-size: 30px;
        color: red;
        display: inline-block;
        transition: transform 1s;
    }

    .soc-med1 a:hover {
        color: orange;
        transform: translateY(-5px);
    }   
    #msg {
        color: red;
        margin-top: 20px;
        display: block;
    }
}
   