/* FOR IPAD RESPONSIVENESS...............................................IPAD............ */
@media (min-width: 651px) and (max-width: 900px){
    
    #mobile i {
        color: red;
        font-size: 28px;
    }
   
   #mobile h4{
    display: none;
   }

    h4 {
        color: white;
        font-size: 10px;
    }

    .navbar {
        padding: 2px;
        width: 100%;
    }

    .navbar .fas {
        display: block;
        font-size: 28px;
        color: red;
    }

    .navbar ul {
        background: #262626;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 60px;
        z-index: 2;
        transition: right 0.5s;

    }

    .navbar ul li {
        display: block;
        margin: 55px;
    }

    .navbar ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    /* END NAV */

    /* body */

    /* PRODUCTS */

    .logo {
        width: 60px;
        cursor: pointer;
    }

    .banner {
        display: none;

    }

    .content {
        display: none;

    }

    .content2 {
        display: block;
        text-align: center;
        background: #262626;
        padding: 15px 30px;
    }

    .content2 p {
        text-align: center;
        margin-bottom: 15px;
    }

    .content2 h1 {
        font-size: 30px;
        color: white;
        padding-top: 35px;
    }

    .button {
        display: inline-block;
        color: white;
        border: 1px solid #e8c15f;
        padding: 12px 34px;
        font-size: 13px;
        background: transparent;
        position: relative;
        cursor: pointer;
        border-radius: 5%;

    }

    .button a {
        text-decoration: none;
    }

    .button:hover {
        border: 1px solid #daa520;
        background: #fdf171;
        transition: 1s;
    }

    .container {
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: none;
        overflow: hidden;
        /* max-width: 1200px; */
        /* margin: auto; */
        /* justify-content: center; */
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 10px;
    }

    .gallery img {
        width: 100%;
    }

    /* END PRODUCTS--- */

    /* NEWS HOME PAGE------------- */

    .news {
        width: 100%;
        margin: auto;
        padding-top: 70px;
        text-align: center;
        margin-top: -40px;
    }

    #row {
        flex-direction: column;
    }

    .news-col1,
    .news-col2 {
        width: 80%;
        border-radius: 10px;
        margin-bottom: 5%;
        text-align: center;
        background: #f2dadf;
        padding: 10px;
        cursor: pointer;
        margin-left: 10%;

    }

    .news-col img {
        height: 40px;
        margin-left: 100px;
        margin-right: 30px;
        border-radius: 70%;
    }

    .news-col p {
        margin: 0;
        padding: 0;
        font-size: 5px;
    }

    .news-col1 h3 {
        margin-top: 10px;
        text-align:center;
    }

    .news-col2 h3 {
        margin-top: 10px;
        text-align:center;
    }
    .news-col1,
    .news-col2 i {
        color: #daa520;
    }

    /* END---- */
   .footer{
    margin-top: -5px;
   }

    /* ABOUT US PAGE */
    .sub {
        height: 10vh;
        width: 100%;
        background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/car11.jpg);
        background-position: center;
        background-size: cover;
        text-align: center;
        color: #ffffff;
    }

    #mobile h4 {
        display: none;
    }

    .sub h1 {
        padding-top: -8%;
        font-size: 15px;
        text-align: center;
        /* color: #262626; */
        /* font-size: 50px; */
    }

    .row {
        flex-direction: column;
    }


    .about-us {

        display: none;
    }

    .about-us2 {
        display: block;
        width: 100%;
        padding-top: -90px;
    }

    .about-col3 img {
        width: 80%;
        margin-left: 10%;
        margin-top: 5%;
        /* /* height: 100%; */

    }

    .about-col3 {
        padding: 15px 0 25px;
        /* padding-left: 10%; */
        margin-top: 5%;
    }

    .about-col3 h3 {
        text-align: center;
        /* margin-bottom: -10%; */
        margin-top: 10;
    }

    .about-col3 p {
        padding: 15px;
        text-align: center;
        justify-content: center;
        padding-top: 5%;
        /* padding-left: 5%; */
        font-size: 13px;
        /* margin-top: 10%; */
    }

    .about-us a {
        color: #000000;
    }

    .btn1 {
        display: flex;
        color: black;
        border: 1px solid #e8c15f;
        padding: 15px;
        font-size: 13px;
        background: transparent;
        position: relative;
        cursor: pointer;
        border-radius: 5%;
        width: 50%;
        margin-left: 25%;
        justify-content: center;

    }

    .btn1 a {
        text-decoration: none;
        color: #000000;
    }

    .btn1:hover {
        border: 1px solid #daa520;
        background: #fdf171;
        transition: 1s;
    }



    /* -------SECOND COLUMN----------- */

    .about-col2 img {
        width: 80%;
        margin-left: 10%;
        /* margin-bottom: -18%; */
        /* height: 100%; */

    }

    .about-col2 {
        padding: 15px 0 25px;
        /* padding-left: 10%; */
        margin-top: -8%;
    }

    .about-col2 p {

        padding: 15px;
        text-align: center;
        /* padding-top: 5%; */
        padding-left: 5%;
        font-size: 13px;
        margin-top: 5px;
    }

    .about-col2 h3 {
        text-align: center;
        margin-top: 15px;
    }


    .btn {
        display: inline-block;
        color: white;
        border: 1px solid #e8c15f;
        padding: 12px 34px;
        font-size: 13px;
        background: transparent;
        position: relative;
        cursor: pointer;
        border-radius: 5%;
        margin-left: 2%;

    }

    .btn a {
        text-decoration: none;
    }

    .btn:hover {
        border: 1px solid #daa520;
        background: #fdf171;
        transition: 1s;
    }



    /*----------------END ABOUT US PAGE---------------------*/

    /* -----------------------CONTACT PAGE---------------- */

    .contact-banner {
        height: 10vh;
        width: 100%;
        background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/car8.jpeg);
        background-position: center;
        background-size: cover;
        text-align: center;
        color: #ffffff;
    }

    .contact-banner h1 {
        padding-top: 8%;
        font-size: 15px;
        text-align: center;

    }

    .con-left{
        margin-top: -8%;

    }

    h3{
        color: #777777;
        font-size: 150%;
        text-align: center;
        margin-bottom: -5px;
    }
    
    form {
        width: 100%;
    }

    form input,
    form textarea {
        width: 100%;
        border: 0;
        outline: none;
        background: #262626;
        padding: 15px;
        margin: 15px;
        color: #fff;
        font-size: 15px;
        justify-content: center;
        /* border-radius: 6px; */
    }

    .btn-btn3 {
        /* display: inline-block; */
        text-decoration: none;
        color: white;
        border: 1px solid red;
        padding: 12px 34px;
        margin-left: 5%;
        justify-content: center;
        font-size: 20px;
        background: red;
        /* position: relative; */
        cursor: pointer;
        margin-bottom: -18%;
        margin: auto;
       text-align: center;
        display: flex;
    }

    .btn-btn3:hover {
        border: 1px solid orangered;
        background: orange;
        transition: 1s;
    }
     
    .contact-right ul li{
        list-style: none;
         display: block;
         flex-wrap: wrap;
         margin-top: 5%;
    
    }
    .contact-right ul li:nth-child(1){
        padding-left: -5%;
        text-align: center;
        /* margin-bottom: 10px; */
        /* /* padding-top: 5%; */
        margin-right: 5%;
    }
     
    .contact-right ul li:nth-child(2){
        padding-right: 22%;
        text-align: center;
        /* margin-bottom: 10px; */
     } 
    .contact-right ul li:nth-child(3){
        padding-right: 22%;
        text-align: center;
    }  
    
    .contact-right p {
        margin-top: 10%;
        font-size: 112%;
    }

    

    
 .contact-right i {
    color: white;
    margin-right: 15px;
    font-size: 200%;
    padding: 25px;
    background: red;
    border-radius: 40px;
}

.soc-med1 a {
    text-decoration: none;
    padding-right: -5px;
    font-size:30px;
    color: red;
    display: inline-block;
    transition: transform 1s;
}



}

