/* CSS FOR SMALL SCREEN */
@media only screen and (max-width: 500px) {
    #mobile i {
        color: red;
        font-size: 28px;
    }

    #mobile h4 {
        display: none;
    }

    h4 {
        color: white;
        font-size: 10px;
    }

    .navbar {
        padding: 2px;
        width: 100%;
    }

    .navbar .fas {
        display: block;
        font-size: 28px;
        color: red;
    }

    .navbar ul {
        background: #262626;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 60px;
        z-index: 2;
        transition: right 0.5s;

    }

    .navbar ul li {
        display: block;
        margin: 55px;
    }

    .navbar ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    /* END NAV */

    .p-banner {
        height: 10vh;
        width: 100%;
        background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/car12.jpg);
        background-position: center;
        background-size: cover;
        text-align: center;
        color: #ffffff;
        padding: 20px;
    }

    .p-banner h1 {
        padding-top: 4%;
        font-size: 15px;
        text-align: center;

    }

    .container {
        margin: 0px auto;
    }
    
    .btn4 {
        text-align: center;
        vertical-align: middle;
        padding: 10px;
        cursor: pointer;
    }

    .btn-primary {
        color: white;
        background-color:red;
        border: none;
        border-radius:5%;
        font-weight: bold;
    }

    .btn-primary:hover {
        background-color: orangered;
    }
    
    .shop-item {
        margin: 15px;
    }


    .shop-item-image {
        /* height: 250px; */
        width: 100%; 
        justify-content: center;
    }
    
    .shop-item-title {
        display: block;
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 25px;
        color: #333;
        margin-top: -1px;
        /* margin-bottom: 2%; */
    }

    .shop-item-details {
        display: flex;
        align-items: center;
        padding: 5px;
    }
    
    .shop-item-price {
        flex-grow: 2;
        color: #333;
    }
    
    .shop-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 10px;
    }

    .cart-column {
        display: flex;
        flex-direction: column;
        /* align-items: center;
        border-bottom: 1px solid black;
        margin-right: 1.5em;
        padding-bottom: 10px;
        margin-top: 50px; */
    }

    .cart-row {
        display: flex;
        flex-direction: column;
        margin-top: -5%;
    }
    .section-header{
        margin-top: 30px;
        font-size: 35px;
        text-align: center;
    }
    .cart-item {
        width: 100%;
    }
    
    .cart-price {
        width: 100%;
        /* font-size: 1.2em; */
        color: #333;
    }
    
    .cart-quantity {
        width: 100%;
    }
    
    .cart-item-image {
        width: 95;
        height: auto;
        border-radius: 10px;
    }

    .btn-danger {
        color: white;
        background-color: #EB5757;
        border: none;
        border-radius: 5%;
        font-weight: bold;
    }

    .cart-quantity-input {
        height: 34px;
        width: 50px;
        border-radius: 5px;
        border: 1px solid #56CCF2;
        background-color: #eee;
        color: #333;
        padding: 0;
        margin-top: -10%;
        text-align: center;
        font-size: 1.2em;
        margin-right: 25px;
    }

    .cart-total {
        text-align: end;
        margin-top: 10px;
        margin-right: 10px;
    }
    
    .cart-total-title {
        font-weight: bold;
        font-size: 1.5em;
        color: black;
        margin-right: 20px;
    }

    .cart-quantity .cart-column{
        margin-top: -10px;
    }
    
    .cart-total-price {
        color: #333;
        font-size: 1.1em;
    }
    
    .btn-purchase {
        display: block;
        margin: 40px auto 80px auto;
        font-size: 20px;
    }

    .copyright{
        width: 100%;
        margin-top: 2%;
        text-align: center;
        color: white;
        padding: 10px 0;
        background: #262626;
        font-weight: 600;
        font-size: 12px;
    }
}