/* FOR TABLET, HOUSE PHONE RESPONSIVENESS...............................................IPAD............ */
@media (min-width: 901px) and (max-width: 1300px){

    #mobile i {
        color: red;
        font-size: 28px;
    }

    #mobile h4 {
        display: none;
    }

    h4 {
        color: white;
        font-size: 10px;
    }

    .navbar {
        padding: 2px;
        width: 100%;
    }

    .navbar .fas {
        display: block;
        font-size: 28px;
        color: red;
    }

    .navbar ul {
        background: #262626;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 60px;
        z-index: 2;
        transition: right 0.5s;

    }

    .navbar ul li {
        display: block;
        margin: 55px;
    }

    .navbar ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    /* END NAV */

    .p-banner {
        height: 10vh;
        width: 100%;
        background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/car12.jpg);
        background-position: center;
        background-size: cover;
        text-align: center;
        color: #ffffff;
        padding: 20px;
    }

    .p-banner h1 {
        padding-top: 4%;
        font-size: 15px;
        text-align: center;

    }
}
    